# Week 3. Pandas Case Study

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\asado\OneDrive\Desktop\Bootcamp\Python\Week 3\sources\train.csv")

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 1.  Show first 7 observations in dataset.  </p>

In [3]:
df.head(7)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
5,train_5,0,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
6,train_6,0,11.8091,-0.0832,9.3494,4.2916,11.1355,-8.0198,6.1961,12.0771,...,8.7830,6.4521,3.5325,0.1777,18.3314,0.5845,9.1104,9.1143,10.8869,-3.2097

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
       Task 2.  Check if there are any missing values.   </p>

In [4]:
pd.set_option("display.max_rows", None)   # Show all rows
pd.set_option("display.max_columns", None)

In [5]:
df.isnull().sum()

ID_code    0
target     0
var_0      0
var_1      0
var_2      0
var_3      0
var_4      0
var_5      0
var_6      0
var_7      0
var_8      0
var_9      0
var_10     0
var_11     0
var_12     0
var_13     0
var_14     0
var_15     0
var_16     0
var_17     0
var_18     0
var_19     0
var_20     0
var_21     0
var_22     0
var_23     0
var_24     0
var_25     0
var_26     0
var_27     0
var_28     0
var_29     0
var_30     0
var_31     0
var_32     0
var_33     0
var_34     0
var_35     0
var_36     0
var_37     0
var_38     0
var_39     0
var_40     0
var_41     0
var_42     0
var_43     0
var_44     0
var_45     0
var_46     0
var_47     0
var_48     0
var_49     0
var_50     0
var_51     0
var_52     0
var_53     0
var_54     0
var_55     0
var_56     0
var_57     0
var_58     0
var_59     0
var_60     0
var_61     0
var_62     0
var_63     0
var_64     0
var_65     0
var_66     0
var_67     0
var_68     0
var_69     0
var_70     0
var_71     0
var_72     0
var_73     0
var_74     0
var_75     0
var_76     0
var_77     0
var_78     0
var_79     0
var_80     0
var_81     0
var_82     0
var_83     0
var_84     0
var_85     0
var_86     0
var_87     0
var_88     0
var_89     0
var_90     0
var_91     0
var_92     0
var_93     0
var_94     0
var_95     0
var_96     0
var_97     0
var_98     0
var_99     0
var_100    0
var_101    0
var_102    0
var_103    0
var_104    0
var_105    0
var_106    0
var_107    0
var_108    0
var_109    0
var_110    0
var_111    0
var_112    0
var_113    0
var_114    0
var_115    0
var_116    0
var_117    0
var_118    0
var_119    0
var_120    0
var_121    0
var_122    0
var_123    0
var_124    0
var_125    0
var_126    0
var_127    0
var_128    0
var_129    0
var_130    0
var_131    0
var_132    0
var_133    0
var_134    0
var_135    0
var_136    0
var_137    0
var_138    0
var_139    0
var_140    0
var_141    0
var_142    0
var_143    0
var_144    0
var_145    0
var_146    0
var_147    0
var_148    0
var_149    0
var_150    0
var_151    0
var_152    0
var_153    0
var_154    0
var_155    0
var_156    0
var_157    0
var_158    0
var_159    0
var_160    0
var_161    0
var_162    0
var_163    0
var_164    0
var_165    0
var_166    0
var_167    0
var_168    0
var_169    0
var_170    0
var_171    0
var_172    0
var_173    0
var_174    0
var_175    0
var_176    0
var_177    0
var_178    0
var_179    0
var_180    0
var_181    0
var_182    0
var_183    0
var_184    0
var_185    0
var_186    0
var_187    0
var_188    0
var_189    0
var_190    0
var_191    0
var_192    0
var_193    0
var_194    0
var_195    0
var_196    0
var_197    0
var_198    0
var_199    0
dtype: int64

In [6]:
missing_values = pd.DataFrame(df.isnull().sum(), columns = ["Missing Count"])
missing_values[missing_values["Missing Count"] > 0]

Empty DataFrame
Columns: [Missing Count]
Index: []

Result: There is not missing values in the dataset.

In [7]:
df.columns

Index(['ID_code', 'target', 'var_0', 'var_1', 'var_2', 'var_3', 'var_4',
       'var_5', 'var_6', 'var_7',
       ...
       'var_190', 'var_191', 'var_192', 'var_193', 'var_194', 'var_195',
       'var_196', 'var_197', 'var_198', 'var_199'],
      dtype='object', length=202)

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 3.  Find mean of each variable according to target.  </p>

In [5]:
df.groupby("target").mean(numeric_only = True)

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,var_51,var_52,var_53,var_54,var_55,var_56,var_57,var_58,var_59,var_60,var_61,var_62,var_63,var_64,var_65,var_66,var_67,var_68,var_69,var_70,var_71,var_72,var_73,var_74,var_75,var_76,var_77,var_78,var_79,var_80,var_81,var_82,var_83,var_84,var_85,var_86,var_87,var_88,var_89,var_90,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100,var_101,var_102,var_103,var_104,var_105,var_106,var_107,var_108,var_109,var_110,var_111,var_112,var_113,var_114,var_115,var_116,var_117,var_118,var_119,var_120,var_121,var_122,var_123,var_124,var_125,var_126,var_127,var_128,var_129,var_130,var_131,var_132,var_133,var_134,var_135,var_136,var_137,var_138,var_139,var_140,var_141,var_142,var_143,var_144,var_145,var_146,var_147,var_148,var_149,var_150,var_151,var_152,var_153,var_154,var_155,var_156,var_157,var_158,var_159,var_160,var_161,var_162,var_163,var_164,var_165,var_166,var_167,var_168,var_169,var_170,var_171,var_172,var_173,var_174,var_175,var_176,var_177,var_178,var_179,var_180,var_181,var_182,var_183,var_184,var_185,var_186,var_187,var_188,var_189,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
target,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,10.626681,-1.695770,10.665876,6.788979,11.072412,-5.146736,5.389620,16.549306,0.262347,7.584907,0.398410,-3.291479,14.028392,8.615764,7.542364,14.570748,9.326326,-5.698669,15.129914,12.408389,13.326894,17.418103,4.247785,3.024026,10.548447,13.666224,-4.178694,-1.137611,5.539248,5.049780,-7.689438,10.411541,-0.539278,14.838196,11.443788,3.779194,2.227270,5.863121,10.640744,0.668519,-6.862568,9.302433,11.224302,11.572909,9.045045,-12.556114,11.321047,-12.503504,14.581677,16.602122,12.744200,13.357783,-2.575063,5.992363,1.181542,12.713185,16.670579,6.276124,3.212497,8.934109,12.146777,-11.975518,0.864765,0.676438,6.376013,0.968699,5.785376,11.833250,5.018922,-3.342466,24.339961,0.666760,0.657700,19.627010,19.424857,16.930805,6.215158,19.089268,5.317329,14.398815,5.938240,14.781217,-3.535250,1.082746,-2.615932,18.394744,5.722424,11.419346,8.720142,3.678356,-16.677375,6.985494,12.804355,10.563109,10.956329,-0.092343,14.391779,18.475315,1.752987,-0.782632,-6.607317,13.428646,22.347767,1.568479,11.527357,4.237421,8.596790,17.897930,14.226997,18.530675,5.431102,6.302948,3.305242,8.156932,3.089842,2.257686,2.415508,16.090717,-5.423827,2.989544,24.565218,11.333391,1.266336,7.159040,4.268882,12.486164,13.201965,0.892539,-1.157075,15.468444,12.248829,0.549612,7.811608,6.806422,-4.861527,-4.330622,22.980935,17.532856,1.182907,7.950512,3.398596,2.964264,12.019446,12.344686,8.641093,4.801034,10.394760,-3.400584,3.994388,5.460487,16.838938,10.105088,7.644020,16.732684,7.051416,-2.145962,13.215975,-4.874326,17.924650,10.202228,24.277974,5.632989,5.347406,10.946221,-2.946693,19.409346,2.970474,-4.231423,4.922471,5.641983,-0.075908,-0.858512,19.927197,-0.761772,20.357774,11.619644,-2.818344,11.915324,-0.957623,2.544666,-2.796515,10.079230,0.740672,8.777265,12.606196,-3.983345,9.002707,-10.392583,15.422021,0.743065,3.149130,7.39080,1.949017,3.355403,18.017716,-0.155601,2.260297,8.919032,15.924058,-3.415273
1,11.156418,-1.017613,11.156633,6.864113,11.131337,-4.336522,5.581966,16.514917,0.479432,7.409064,0.357916,-2.834888,13.984464,7.764618,7.495020,14.594414,9.395369,-5.679385,16.265343,12.708704,12.968654,15.823715,4.821429,2.979384,10.906222,13.678882,-2.949112,-1.140560,5.476866,5.090517,-7.672537,10.227496,-0.276639,14.200831,11.348866,4.409162,1.828816,5.920623,10.654546,0.613162,-5.498624,9.276805,11.204937,11.543503,8.082197,-13.984647,11.375188,-12.187384,15.806031,17.401971,12.712219,14.065603,-2.114843,6.153627,0.739460,13.038255,16.258461,6.235222,2.865556,8.904403,12.234763,-11.689180,0.958362,0.524536,6.307787,1.109933,5.871587,12.927617,5.018636,-3.233487,25.403251,0.696571,0.487071,19.466573,20.360168,16.163830,4.580307,18.867603,5.637265,14.431866,4.513254,14.162315,-2.898599,0.516228,-2.359951,18.076075,4.713710,10.744030,8.548792,4.144588,-15.391398,7.005867,12.159746,10.499730,11.382572,-0.012742,14.477901,19.115475,1.743287,-0.421047,-6.539663,13.278187,21.821752,1.567620,11.352982,4.310293,8.804442,16.886245,14.201508,17.807484,6.248459,6.399023,3.430640,7.954022,3.003754,1.820140,2.286755,16.205323,-4.242666,3.420481,24.125969,11.106506,0.536394,6.335217,4.307277,12.516025,13.205560,0.484223,-0.867264,15.387548,12.331640,0.500470,7.692870,6.874568,-4.508510,-3.622590,22.858199,18.336874,1.460390,6.056607,3.647780,2.300839,11.661621,12.235342,8.706163,5.202002,9.861549,-2.407399,3.957942,3.825995,16.627308,10.467844,7.536336,16.685099,6.290528,-1.431122,13.149269,-4.269550,17.824548,10.411741,24.092142,5.636010,5.501557,11.502983,-2.202475,18.477984,2.899436,-3.432649,5.068286,5.582531,0.630093,-0.592465,18.831534,0.072190,18.893971,11.828309,-2.631667,11.592995,-1.519278,3.010162,-2.250702,10.141805,0.526091,8.695892,14.103659,-3.982510,8.679957,-9.819989,14.975745,0.772981,3.998064,7.86456,1.738266,3.120260,17.779568,-0.021130,2.688583,8.810815,15.393283,-2.532243

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Tas 4. Count number of values for each target.     </p>

In [12]:
summary = df["target"].value_counts().to_frame(name = "Count")
summary["Percentage"] = round(summary["Count"]/len(df) * 100,2).astype(str) + '%'
summary

         Count Percentage
target
0       179902     89.95%
1        20098     10.05%

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 5. Remove ID_code column.    
</p>

In [8]:
df.drop("ID_code", axis=1, inplace = True)
df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 6. Get statistical summary for each variable. 

    a. Give interpretation for std, min, max, mean.
    b. Show mean of var_0 by using indexing.  
</p>

In [9]:
summary = df.describe()
summary

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [10]:
summary.loc["mean", "var_0"]

np.float64(10.679914251999998)

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 7.  Filter var_0 variable from minimum to mean.  
</p>

In [11]:
df[(df["var_0"] > df["var_0"].min()) & (df["var_0"] <= df["var_0"].mean())]

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
10,0,5.0702,-0.5447,9.5900,4.2987,12.3910,-18.8687,6.0382,14.3797,-0.4711,...,7.2780,8.0819,0.2139,-0.0761,14.9585,-1.2160,6.6576,9.2553,14.2914,-7.6652
12,0,8.7671,-4.6154,9.7242,7.4242,9.0254,1.4247,6.2815,12.3143,5.6964,...,0.3782,7.4382,0.0854,1.3444,17.2439,-0.0798,5.7389,8.4897,17.0938,4.6106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199985,0,9.0249,-3.6379,12.3907,5.1915,12.1701,-8.8978,5.2574,17.9830,3.2907,...,7.8321,5.3869,1.4127,9.5404,12.3053,2.5935,8.0172,8.1901,18.5124,-15.6321
199987,0,8.0438,-1.9184,13.1498,9.2027,8.9886,2.7531,4.2194,18.1138,-0.6744,...,7.1818,10.8590,3.5770,1.2627,16.9983,-1.5922,-3.5687,8.1765,19.5095,-13.3091
199991,0,9.9909,2.5523,11.9653,6.3958,13.5497,-9.5293,6.0864,14.1789,-2.1245,...,12.0737,5.2139,0.8094,-0.6585,17.0548,0.5328,-5.3444,8.5414,13.2895,-6.7896
199996,0,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199998,0,9.7148,-8.6098,13.6104,5.7930,12.5173,0.5339,6.0479,17.0152,-2.1926,...,2.6840,8.6587,2.7337,11.1178,20.4158,-0.0786,6.7980,10.0342,15.5289,-13.9001

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 8.  Filter var_6 greater than 5 and var_196 less than 2.    
</p>

In [12]:
df[(df["var_6"] > 5) & (df["var_196"] < 2)]

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
11,0,12.7188,-7.9750,10.3757,9.0101,12.8570,-12.0852,5.6464,11.8370,1.2953,...,-0.8901,2.6559,-0.0503,5.5946,13.6152,2.4058,-1.7183,9.6745,16.7498,-3.9728
14,0,13.8080,5.0514,17.2611,8.5120,12.8517,-9.1622,5.7327,21.0517,-4.5117,...,1.0740,8.3220,3.2619,1.6738,17.4797,-0.0257,-3.5323,9.3439,24.4479,-5.1110
16,0,5.0615,0.2689,15.1325,3.6587,13.5276,-6.5477,5.2757,9.8710,2.5569,...,0.2717,7.2854,0.5670,8.1822,19.5616,0.4365,-3.4975,8.6367,20.2548,11.1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199990,1,14.1475,1.8568,11.0066,3.6779,12.1944,-16.5936,5.3217,14.8508,3.3377,...,-6.4708,4.7287,1.9034,7.2324,20.6047,1.7170,-4.0032,9.1627,13.8077,-1.9646
199991,0,9.9909,2.5523,11.9653,6.3958,13.5497,-9.5293,6.0864,14.1789,-2.1245,...,12.0737,5.2139,0.8094,-0.6585,17.0548,0.5328,-5.3444,8.5414,13.2895,-6.7896
199994,0,12.3925,-5.8821,11.2323,3.9237,10.4509,10.7262,7.0503,18.6968,-0.4976,...,1.3911,6.8687,3.7788,6.3378,14.4656,-1.4843,-3.9299,9.1164,16.3170,-7.5048
199996,0,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199999,0,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 9. Show observations between 20000 and 30000 for 11th column.  
</p>

In [18]:
df.iloc[20000:30001, 11]

20000     4.8219
20001     4.1234
20002     1.5339
20003     5.2597
20004    10.2969
          ...
29996     8.3554
29997    -1.3356
29998    -0.0461
29999    -1.9111
30000    -6.9853
Name: var_10, Length: 10001, dtype: float64

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 10.  Create features list including variables from var_0 to var_9.  

    a. Find correlations in features.   
    b. Sort most correlated variables in features.  
    c. Show top 10 most correlated variables in features.  
</p>

In [19]:
features_list = df.loc[:,"var_0":"var_9"]
features_list

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784
...,...,...,...,...,...,...,...,...,...,...
199995,11.4880,-0.4956,8.2622,3.5142,10.3404,11.6081,5.6709,15.1516,-0.6209,5.6669
199996,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,6.0019
199997,11.2232,-5.0518,10.5127,5.6456,9.3410,-5.4086,4.5555,21.5571,0.1202,6.1629
199998,9.7148,-8.6098,13.6104,5.7930,12.5173,0.5339,6.0479,17.0152,-2.1926,8.7542
199999,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,9.3688

In [20]:
# a. find correlations in features

In [21]:
features_list.corr()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9
var_0,1.000000,-0.000544,0.006573,0.003801,0.001326,0.003046,0.006983,0.002429,0.004962,-0.002613
var_1,-0.000544,1.000000,0.003980,0.000010,0.000303,-0.000902,0.003258,0.001511,0.004098,-0.000832
var_2,0.006573,0.003980,1.000000,0.001001,0.000723,0.001569,0.000883,-0.000991,0.002648,-0.001932
var_3,0.003801,0.000010,0.001001,1.000000,-0.000322,0.003253,-0.000774,0.002500,0.003553,-0.000826
var_4,0.001326,0.000303,0.000723,-0.000322,1.000000,-0.001368,0.000049,0.004549,0.001194,-0.000918
var_5,0.003046,-0.000902,0.001569,0.003253,-0.001368,1.000000,0.002588,-0.000995,0.000147,-0.005279
var_6,0.006983,0.003258,0.000883,-0.000774,0.000049,0.002588,1.000000,-0.002548,-0.001188,-0.005697
var_7,0.002429,0.001511,-0.000991,0.002500,0.004549,-0.000995,-0.002548,1.000000,0.000814,0.002885
var_8,0.004962,0.004098,0.002648,0.003553,0.001194,0.000147,-0.001188,0.000814,1.000000,-0.001073
var_9,-0.002613,-0.000832,-0.001932,-0.000826,-0.000918,-0.005279,-0.005697,0.002885,-0.001073,1.000000

In [22]:
#  Sort most correlated variables in features.

In [30]:
corr_matrix.unstack().sort_values(ascending=False).drop_duplicates()

var_0  var_0    1.000000
       var_6    0.006983
       var_2    0.006573
var_6  var_9    0.005697
var_5  var_9    0.005279
var_8  var_0    0.004962
var_4  var_7    0.004549
var_1  var_8    0.004098
var_2  var_1    0.003980
var_3  var_0    0.003801
       var_8    0.003553
var_6  var_1    0.003258
var_3  var_5    0.003253
var_5  var_0    0.003046
var_9  var_7    0.002885
var_8  var_2    0.002648
var_0  var_9    0.002613
var_5  var_6    0.002588
var_6  var_7    0.002548
var_7  var_3    0.002500
       var_0    0.002429
var_2  var_9    0.001932
var_5  var_2    0.001569
var_1  var_7    0.001511
var_4  var_5    0.001368
       var_0    0.001326
var_8  var_4    0.001194
var_6  var_8    0.001188
var_9  var_8    0.001073
var_2  var_3    0.001001
var_5  var_7    0.000995
var_2  var_7    0.000991
var_9  var_4    0.000918
var_5  var_1    0.000902
var_2  var_6    0.000883
var_9  var_1    0.000832
       var_3    0.000826
var_8  var_7    0.000814
var_6  var_3    0.000774
var_2  var_4    0.000723
var_1  var_0    0.000544
var_4  var_3    0.000322
var_1  var_4    0.000303
var_5  var_8    0.000147
var_6  var_4    0.000049
var_3  var_1    0.000010
dtype: float64

In [31]:
# Show top 10 most correlated variables in features.

In [32]:
corr_matrix.unstack().sort_values(ascending=False).drop_duplicates()[:10]

var_0  var_0    1.000000
       var_6    0.006983
       var_2    0.006573
var_6  var_9    0.005697
var_5  var_9    0.005279
var_8  var_0    0.004962
var_4  var_7    0.004549
var_1  var_8    0.004098
var_2  var_1    0.003980
var_3  var_0    0.003801
dtype: float64

<p style = "background-color:lightgray; font-size:20px; font-weight:bold">
    Task 11.    Remove outliers from dataset.
</p>

In [35]:
# Calculate quartiles and IQR 
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3-Q1

In [37]:
# Filter rows 
mask = ~((df < (Q1- 1.5*IQR)) | (df > (Q3 + 1.5*IQR))).any(axis=1)

In [38]:
df = df[mask]

In [39]:
df

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,0.0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,0.0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,0.0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,0.0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.0,11.4880,-0.4956,8.2622,3.5142,10.3404,11.6081,5.6709,15.1516,-0.6209,...,6.1415,13.2305,3.9901,0.9388,18.0249,-1.7939,2.1661,8.5326,16.6660,-17.8661
199996,0.0,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199997,0.0,11.2232,-5.0518,10.5127,5.6456,9.3410,-5.4086,4.5555,21.5571,0.1202,...,4.0651,5.4414,3.1032,4.8793,23.5311,-1.5736,1.2832,8.7155,13.8329,4.1995
199998,0.0,9.7148,-8.6098,13.6104,5.7930,12.5173,0.5339,6.0479,17.0152,-2.1926,...,2.6840,8.6587,2.7337,11.1178,20.4158,-0.0786,6.7980,10.0342,15.5289,-13.9001
199999,0.0,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385