# Numpy Case Study

<font color = "Blue">Task 1. Create an array of 20 linearly spaced points between 0 and 1</font>

In [1]:
import numpy as np

In [2]:
arr = np.linspace(0,1,20) 
arr

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

<font color = "Blue">                   </font>

<font color = "Blue">Task 2. Create a 5x5 matrix from 1 to 25  and sum the columns' numbers.                   </font>

In [3]:
arr = np.reshape(np.linspace(1,25,25),(5,5))
arr

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.],
       [11., 12., 13., 14., 15.],
       [16., 17., 18., 19., 20.],
       [21., 22., 23., 24., 25.]])

<font color = "Blue">                   </font>

In [15]:
print("sum of the row numbers: ", np.sum(arr,axis=1)) 
print("sum of the column numbers: ", np.sum(arr,axis=0))

sum of the row numbers:  [ 15.  40.  65.  90. 115.]
sum of the column numbers:  [55. 60. 65. 70. 75.]

<font color = "Blue">                   </font>

<font color = "Blue">Task 3. Create the following matrix.       </font>
```python  

0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 
0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 
0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 
0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 
0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 
0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 
0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 
0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 
0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 
0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.

```

In [14]:
np.reshape(np.arange(0.01,1.01,0.01),(10,10))

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

<font color = "Blue">                   </font>

<font color = "Blue">Task 4.  Follow the steps:

A) Define a structured data type ( name - S20, Surname - S20, age-i1, mark-f4) 

B) Create an array with the given information below in a data type created  
(Behram Abbasov 26 85, Yusif Abdullayev 22 92, Maryam Mecidova 19 88, Vagif Hesenzade 24 79) </font>

In [18]:
# data types 
dtype = np.dtype([
    ('name', 'S20'), 
    ('surname', 'S20'), 
    ('age', 'i1'), 
    ('mark', 'f4')
])

# Create array 
people = np.array([
    ('Behram', 'Abbasov', 26, 85), 
    ('Yusif', 'Abdullayev', 22, 92), 
    ('Maryam', 'Mecidova', 19, 88), 
    ('Vagif', 'Hesenzade', 24, 79) 
], dtype=dtype)

people

array([(b'Behram', b'Abbasov', 26, 85.),
       (b'Yusif', b'Abdullayev', 22, 92.),
       (b'Maryam', b'Mecidova', 19, 88.),
       (b'Vagif', b'Hesenzade', 24, 79.)],
      dtype=[('name', 'S20'), ('surname', 'S20'), ('age', 'i1'), ('mark', '<f4')])

<font color = "Blue">Task 5.  Create the following array: </font>

```python 

99 99 99 99 99 99 99 99 99 99 
99 1  0  0  0  0  0  0  0  99 
99 0  1  1  1  1  1  1  0  99 
99 0  1  0  0  0  0  1  0  99 
99 0  1  0  1  1  0  1  0  99 
99 0  1  0  1  1  0  1  0  99 
99 0  1  0  0  0  0  1  0  99 
99 0  1  1  1  1  1  1  0  99 
99 0  0  0  0  0  0  0  1  99 
99 99 99 99 99 99 99 99 99 99

```

In [42]:
arr = np.full((10,10), 99)
arr[1:9, 1:9] = 0
arr[1,1] = 1 
arr[len(arr)-2, len(arr)-2] = 1 
arr[2:-2, 2:-2] = 1
arr[3:-3, 3:-3] = 0 
arr[4:-4, 4:-4] = 1
arr

array([[99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99,  1,  0,  0,  0,  0,  0,  0,  0, 99],
       [99,  0,  1,  1,  1,  1,  1,  1,  0, 99],
       [99,  0,  1,  0,  0,  0,  0,  1,  0, 99],
       [99,  0,  1,  0,  1,  1,  0,  1,  0, 99],
       [99,  0,  1,  0,  1,  1,  0,  1,  0, 99],
       [99,  0,  1,  0,  0,  0,  0,  1,  0, 99],
       [99,  0,  1,  1,  1,  1,  1,  1,  0, 99],
       [99,  0,  0,  0,  0,  0,  0,  0,  1, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99]])